#services {
    width: 100%;
    border-collapse: collapse;
}

#services td, #service th {
    border: 1px solid #ddd;
    padding: 8px;
}

#services tr:nth-child(even){background-color: #f2f2f2;}

#services tr:hover {background-color: #ddd;}

#services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#services button {
    margin: 1em;
}